*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding:16px;
    position: sticky;
    top: 0;
    border: 1px solid white;
    background-color: hsl(0, 0%, 80%);
    border-bottom: 4px solid;
 }

header nav >a{     /*  //Apllies to all the anchor tags in the nav */
    margin: 16px;
    text-decoration: none;
    color: inherit;
 }

 footer{
    text-align: center;
    padding: 1rem;
    border-top: 4px solid;
}

.container{
    padding: 16px;
}

/* Hwre we target inside the container class the immediate section element inside of it the first/immdiate h2 tag that has the title  */
.container >section > h2{    
text-align: center;
}
.intro{
    margin :-16px;
    padding: 16px;
    background-color: #1d1c1c;
    color: white;
    text-align: center;
}

#profile-img {
    border-radius: 50%;
    height:300px;
    width:300px;
} 
.social-links img{
    height: 30px;
    width: 30px;
}

.social-links a{
text-decoration: nones;
margin: auto 8px;
}

#about-me,#technologies {
    margin: 3rem auto;
}

#qualification,#hobbies{
    background-color: #1d1c1c;
    color: white;
    margin: -16px;
    padding: 1rem;
    
}



table ,
tr,
td
,th{
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding :8px
}
table{
    width: 100%;
}
p{
 font-size: 1.5rem;
 line-height: 1.5rem;
}

/* Style for typewriter effect */
.dynamic-text-color{
    color: blue;;
}

form#contact{
    max-width:400px ;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius:16px; ;
}

#contact label{
    display: block;
    font-weight: 600;
}

#contact input, #contact textarea,#contact button{
    width:100% ;
    font-size: 1.2rem;
    padding:8px;
}

#contact-me{
    margin-top: 16px;
}

